HELP.md
build/
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

### Gradle ###
bin/
build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

### Logs ###
*.log